table {
  width: 100% !important;
  border-collapse: separate !important;
  padding: 20px !important ; 
  border-spacing: 0px 0px !important;  
   overflow-x: auto;
}
 /*alinear contenido de las celdas al centro*/
td {
  padding: 6px !important;
  text-align: center;
 

}
 
/*reglas para la cabecera de la tabla*/
.mat-header-cell {
  background: #007598 !important;
  width: 120px !important;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-left: 40px;
  padding:20px;
  }
 
 /*borde redondeado superior izquierdo de la cabecera azul*/
.mat-header-cell:nth-child(2) {
 
   border-top-left-radius: 25px !important;
    
}
/*borde redondeado superior derecho de la cabecera azul*/
.mat-header-cell:last-child {
 
  border-top-right-radius: 25px !important;
   
}

/*estilos primera celda naranja*/
.mat-header-cell:first-child{
  background: #fd9f32 !important;
  width: 120px !important;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  font-weight: bold;
  border-right: 5px #fff solid !important;
}
 

 
 
/*elimina el borde inferior de la cabecera*/
th.mat-header-cell,  td.mat-footer-cell {
  border-bottom: solid 5px white !important;
  margin-bottom:10px !important;

}
 
 
 
/*Bordes redondeados a la primera celda*/
 tr:first-child td:nth-child(1) {
   border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}
/*Bordes redondeados a la ultima celda*/
tr:last-child td:nth-child(1) {
   border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; 
}
/*Bordes redondeados a la primera celda*/
tr:first-child td:nth-child(2) {
  border-top-left-radius: 25px;
 
 margin: 20px !important;
}
/*Bordes redondeados a la ultima celda*/
tr:last-child td:nth-child(2) {
  border-bottom-left-radius: 25px;
 }

/*Bordes redondeados a la primera celda*/
tr:first-child td:last-child {
  border-top-right-radius: 25px;
  
 }
/*Bordes redondeados a la ultima celda*/
tr:last-child td:last-child {
  border-bottom-right-radius: 25px;
   
 }


/*Bordes redondeados a la primera celda*/
tr:first-child td:not(:first-child) {
  /*border-top-left-radius: 25px;
  border-top-right-radius: 25px;*/
   border-top: solid 1px #0073b9  !important;
   
}
 
/*bordes izquierdo y derecho centrales*/
td.mat-cell:not(:first-child) {
  border-left: solid 1px #0073b9  !important;
 /* border-right: solid 1px #0073b9  !important; */
  /*border-top: solid 1px #0073b9  !important;*/
}

/*estilo redondeado ultimas filas*/
tr:last-child td:not(:first-child)  {
  border-bottom: 1px solid #0073b9 !important;

}

 
 
 /*estilos columna azul*/
 td.mat-cell:first-child {
  background-color: #007598 !important;
    color:white;
  font-weight: bold;
  border-right: 5px #fff solid !important;
  border-bottom: none !important;
  
 }

::ng-deep.mat-select-value {
  
  text-align: center !important;
}

  
td.mat-cell {
  border-bottom: 1px dashed #0073b9 !important;
     background-color: #fff !important; 
min-width: 50px;
padding:25px !important;
 
  }
  
td.mat-cell:last-child {
  border-right: solid 1px #0073b9 !important;
}
  
 